body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('./FilghtAppBackground.jpg'); /* Replace with the path to your image file */
    background-size: cover;
    background-position: center;
  }
  
  .main-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {

    background-color: #ddd;
  }